<div class="container">

    <mat-dialog-content class="mat-typography">
        
        <p>
            <label for="identification">Documento de identificación: {{identification}}</label>
        </p>
        <p>
            <label for="names" >Nombres: {{names}}</label>
        </p>
        <p>
            <label for="surnames">Apellidos: {{surnames}}</label>
        </p>
        <p>
            <label for="email">email: {{email}}</label>
        </p>
        <p>
            <label for="birthdate">Fecha de Nac.: {{birthdate}}</label>
        </p>
        <p>
            <label for="phone">Telefono: {{phone}}</label>
        </p>
        <p>
            <label for="vaccineType">Tipo de vacuna: {{vaccineType}}</label>
        </p>
        <p>
            <label for="vaccineDate">Fecha de vacuna: {{vaccineDate}}</label>
        </p>
        <p>
            <label for="vaccineDoses">Dosis: {{vaccineDoses}}</label>
        </p>
    </mat-dialog-content>
    <mat-dialog-actions align="end ">
        <button mat-button mat-dialog-close>Salir</button>
    </mat-dialog-actions>
</div>